<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper">
    {{ content }}
  </div>
  
  <div class="top" style="position:fixed; right:10%; bottom:15px; display:none; z-index:9999;">
        <a href="#">
            <img src="{{ site.baseurl }}/assets/img/top.png" width="40" height="40" class="top" style="border-radius:5px; background-color: #424242; margin-bottom:0; margin-right:7px; float:left;">
        </a>
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/list.png" width="40" height="40" class="top" style="border-radius:5px; background-color: #424242; margin-bottom:0; float:left;">
        </a>
  </div>

  {% include analytics.html %}
</body>
</html>
